@page
@model Ardalis.Result.SampleWeb.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    To test out this sample, POST to the WeatherForecast endpoint using Swagger.
</p>
<p>
    Localized Messages: @Model.Message
</p>
<p>
<a href="/swagger">Open Swagger</a>
</p>
<p>
    Things to try:
</p>
<ul>
    <li>PostalCode 55555 should work (200 OK)</li>
    <li>PostalCode "" should fail (400 Bad Request with error list (required))</li>
    <li>PostalCode "NotFound" should return (404 Not Found)</li>
    <li>PostalCode "This is too long." should return (400 Bad Request with error list)</li>
</ul>



