name: Publish Ardalis.Result.AspNetCore and FluentValidation to Nuget.org

on:
  workflow_dispatch:
  push:
    branches: [ main ]
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
          dotnet-version: '7.x'
          include-prerelease: true
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Publish Ardalis.Result.AspNetCore to NuGet
      uses: brandedoutcast/publish-nuget@v2.5.0
      with:
        PROJECT_FILE_PATH: src/Ardalis.Result.AspNetCore/Ardalis.Result.AspNetCore.csproj
        NUGET_KEY: ${{secrets.NUGET_API_KEY}}

    - name: Publish Ardalis.Result.FluentValidation to NuGet
      uses: brandedoutcast/publish-nuget@v2.5.0
      with:
        PROJECT_FILE_PATH: src/Ardalis.Result.FluentValidation/Ardalis.Result.FluentValidation.csproj
        NUGET_KEY: ${{secrets.NUGET_API_KEY}}
