name: .NET Core

on:
  push:
    branches: [ master ]
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Publish NuGet
      uses: brandedoutcast/publish-nuget@v2.5.0
      with:
        PROJECT_FILE_PATH: src/Ardalis.Result/Ardalis.Result.csproj
        NUGET_KEY: ${{secrets.NUGET_API_KEY}}
